/*para criar as variaveis devem ser criadas no arquivo root*/
:root {
  --vermelho: #e50914;
  --preta: #141414;
}

/*resetar as configurações da pagina*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*elementos base*/
/*plano de fundo da pagina*/
body {
  background: var(--preta);
  font-family: "arial", Times, serif;
  color: white;
}

/*INICIO DA ESTILIZAÇÃO DO CABEÇALHO*/
header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/*Titulo*/
header .logo {
  margin-left: 5px;
  color: var(--vermelho);
  font-family: "Arial Black", Times;
  font-size: 40px;
}

/*Links*/
header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}

/*Efeito de mudar as cores dos links*/
header nav a:hover {
  color: #fff;
}
/*FINAL DE ESTILIZAÇÃO DO CABEÇALHO */

/*FILME PRINCIPAL*/

.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("../img/capa3.jpg");

  height: 400px;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .descricao {
  margin-top: 10px;
  margin-bottom: 40px;
}

.filme-principal .titulo {
  margin-top: 15%;
  font-size: 40px;
  font-family: "Trebuchet MS";
}

.container {
  margin-left: 20px;
}

.filme-principal .container {
  width: 70%;
}

/*FINAL ESTILIZAÇÃO FILME PRINCIPAL */

/*BOTÕES*/
.botao {
  background-color: rgba(0, 0, 0, 0.5); /*efeito de transparencia*/
  border: none;
  color: white;

  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;

  cursor: pointer;
  transition: 0.3s ease all;
}

.botao:hover {
  background-color: white;
  color: black;
}

.botao i {
  margin-right: 8px;
}

/*Carrosel*/

.box-serie {
  height: 50%;
  width: 50%;
  display: block;
}

.carrosel-series {
  margin-top: 50px;
}

.footer_container {
  text-align: center;
}

.footer_logo {
  color: #e50914;
}

hr {
  margin: 15px;
}

.container-popu {
  padding: 20px;
}

.menu {
padding: 10px;
font-size: 25px;

}

img {
  width: 160px;
  height: 250px;
  border-radius: 10px;

}

.slider {
  overflow: hidden;
}

.slides {
  display: flex;
}

.slides {
    width: 500%;

    display: flex;
}
.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}


/*CSS Botão Manual*/

.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -55px;
    padding-left: 250px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #40d3dc;
    color:black;
    font;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%; 
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}



